<div class="container">
<div class="page-header">
<h1><center><a href="/"> Welcome to Simple AirBnB!</a></center></h1>
</div>

<div class="row">
<div class="col-md-6">

<form class="form-horizontal" action="/signup" method="post">
	<fieldset>
	<div id="legend">
		<legend class=""><h3>Register now!</h3></legend>
	</div>
		<div class="control-group">
			<label class="control-label" for="name">Name:</label>
			<div class="controls">
				<input id="name" name="post[name]" placeholder="Full name" class="form-control input-lg" type="text">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="email">E-mail:</label>
			<div class="controls">
				<input id="email" name="post[email]" placeholder="Email Address" class="form-control input-lg" type="email">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="password">Password:</label>
			<div class="controls">
				<input id="password" name="post[password]" placeholder="Password" class="form-control input-lg" type="password">
			</div>
		</div>
		<br>
		<div class="control-group">
			<div class="controls">
			<button class="btn btn-success">Sign Up!</button>
			</div>
		</div>
	</fieldset>
</form>
</div>
</div>
</div>